In [5]:
import pandas as pd
# Load data
review_df = pd.read_csv('../data/winemag-data-130k-v2.csv')

In [6]:
# Who are the most common wine review's
# Create a Series whose index is the 'taster_twitter_handle'
# Whose values count hom many reviews each person wrote

review_df.head(2)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [8]:
review_df.taster_twitter_handle.value_counts()
handles = pd.Series(review_df.taster_twitter_handle.value_counts())
handles

taster_twitter_handle
@vossroger          25514
@wineschach         15134
@kerinokeefe        10776
@vboone              9537
@paulgwine           9532
@mattkettmann        6332
@JoeCz               5147
@wawinereport        4966
@gordone_cellars     4177
@AnneInVino          3685
@laurbuzz            1835
@suskostrzewa        1085
@worldwineguys       1005
@bkfiona               27
@winewchristina         6
Name: count, dtype: int64

In [10]:
# another approach to use groupby
handles2 =  review_df.groupby('taster_twitter_handle').size()
handles2

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
dtype: int64

In [11]:
# Another way. More information
handles3 = review_df.groupby('taster_twitter_handle').count()
handles3

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,title,variety,winery
taster_twitter_handle,,,,,,,,,,,,,
@AnneInVino,3685,3676,3685,3130,3685,3398,3676,1395,0,3685,3685,3685,3685
@JoeCz,5147,5145,5147,3428,5147,5012,5145,3406,101,5147,5147,5147,5147
@bkfiona,27,27,27,17,27,27,27,18,0,27,27,27,27
@gordone_cellars,4177,4177,4177,2660,4177,4171,4177,4171,3087,4177,4177,4177,4177
@kerinokeefe,10776,10776,10776,7549,10776,9874,10776,10749,0,10776,10776,10776,10776
@laurbuzz,1835,1832,1835,1268,1835,1713,1832,618,18,1835,1835,1835,1835
@mattkettmann,6332,6332,6332,4568,6332,6237,6332,6331,6284,6332,6332,6332,6332
@paulgwine,9532,9531,9532,6482,9532,9498,9531,9487,8923,9532,9532,9532,9532
@suskostrzewa,1085,1080,1085,682,1085,1073,1080,243,159,1085,1085,1085,1085
@vboone,9537,9537,9537,6764,9537,9507,9537,9532,9022,9537,9537,9537,9537
@vossroger,25514,25512,25514,17963,25514,20172,25512,18635,2,25514,25514,25514,25514
@wawinereport,4966,4966,4966,3550,4966,4925,4966,4791,4743,4966,4966,4966,4966
@wineschach,15134,15127,15134,12275,15134,14951,15127,10477,69,15134,15134,15134,15134
@winewchristina,6,6,6,2,6,6,6,6,5,6,6,6,6
@worldwineguys,1005,971,1005,780,1005,995,971,0,0,1005,1005,1005,1005

In [12]:
handles4 = review_df.groupby('taster_twitter_handle')['taster_twitter_handle'].count()
handles4

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
Name: taster_twitter_handle, dtype: int64

In [18]:
# Task is the best wine I can buy for a given amount of money?
# Create a Series whose index is the wine price and whose values are the max number of points
# a wine cost that much was given in the review
# Sort the series by price, ascending ($4 at he top and $3300 at the bottom)

best_bang = review_df.groupby('price')['points'].max()
print(best_bang)

best_bang2 = review_df.groupby(['province', 'price'])['points'].max()

best_bang2.head(20)

province          price
Achaia            13.0     90
                  15.0     86
                  25.0     86
                  37.0     83
Aconcagua Costa   13.0     86
                  16.0     87
                  20.0     90
                  22.0     90
                  23.0     89
                  24.0     88
                  25.0     90
                  95.0     89
Aconcagua Valley  5.0      87
                  8.0      85
                  9.0      80
                  10.0     84
                  11.0     86
                  12.0     87
                  13.0     87
                  14.0     89
Name: points, dtype: int64

In [20]:
 #Task: What are the minimum and maximum prices for each variety of wine?
 # Create a DataFrame whose index is 'variety' and whose values are min and max values
 
price_range = review_df.groupby('variety').price.agg(['min', 'max'])

price_range

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

In [34]:
# Task:
# What are the most expensive varieties?
# Create a variety 'sorted_varieties' containing a copy of the DataFrame from a previous task.

sorted_varieties = price_range[max].sort_values(ascending=False)
sorted_varieties

variety
Ramisco                           495.0
Terrantez                         236.0
Francisa                          160.0
Rosenmuskateller                  150.0
Tinta Negra Mole                  112.0
                                  ...
Roscetto                            NaN
Sauvignon Blanc-Sauvignon Gris      NaN
Tempranillo-Malbec                  NaN
Vital                               NaN
Zelen                               NaN
Name: min, Length: 707, dtype: float64

In [28]:
# Another way
sorted_varieties2 = price_range.sort_values(by=['min','max'], ascending=False)
sorted_varieties2.head(20)

                              min    max
variety
Ramisco                     495.0  495.0
Terrantez                   236.0  236.0
Francisa                    160.0  160.0
Rosenmuskateller            150.0  150.0
Tinta Negra Mole            112.0  112.0
Pignolo                      70.0   70.0
Syrah-Cabernet Franc         60.0   69.0
Garnacha-Cariñena            57.0   57.0
Doña Blanca                  53.0   53.0
Cercial                      50.0   50.0
Mavrotragano                 50.0   50.0
Sercial                      50.0   50.0
Pugnitello                   49.0   49.0
Malbec-Cabernet              45.0  165.0
Tinta del Pais               45.0   50.0
Touriga                      45.0   46.0
Babosa Negro                 45.0   45.0
Cabernet Sauvignon-Barbera   45.0   45.0
Syrah-Grenache-Viognier      45.0   45.0
Tinta Madeira                45.0   45.0

In [35]:
# Task
# Create a series whose index is 'reviewers' and whose values is the average review score given by the reviewer.
# Hint: you need 'taster_name' and 'points'

aver_score = review_df.groupby('taster_name').points.mean().sort_values(ascending=False)
print(type(aver_score), aver_score)
# Take df put names of the column

<class 'pandas.core.series.Series'> taster_name
Anne Krebiehl MW      90.562551
Matt Kettmann         90.008686
Virginie Boone        89.213379
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Kerin O’Keefe         88.867947
Sean P. Sullivan      88.755739
Roger Voss            88.708003
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Anna Lee C. Iijima    88.415629
Jeff Jenssen          88.319756
Christina Pickard     87.833333
Lauren Buzzeo         87.739510
Michael Schachner     86.907493
Fiona Adams           86.888889
Susan Kostrzewa       86.609217
Carrie Dykes          86.395683
Alexander Peartree    85.855422
Name: points, dtype: float64